# Understanding Pandas and Matplotlib.pyplot

## Q1. Importing required libraries

In [2]:
import pandas as pd
import os

In [3]:
os.getcwd()

'/home/TE/Downloads/assignment1'

## Q2. Locating downloaded Dataset

In [4]:
os.listdir()

['health_fitness_dataset.csv', '.ipynb_checkpoints', '31311_assignment1.ipynb']

## Q3. Loading the dataset 
### Reading the `.csv` file

In [5]:
df = pd.read_csv('health_fitness_dataset.csv')
# url : https://www.kaggle.com/datasets/jijagallery/fitlife-health-and-fitness-tracking-dataset

## Q4. Preprocessing the data
This process involves exploring the data and trying to make sense of it.

In [6]:
df.head()

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
0,1,2024-01-01,56,F,165.3,53.7,Dancing,41,Low,3.3,...,3,7128,1.5,19.6,69.5,110.7,72.9,NaN,Never,0.04
1,1,2024-01-04,56,F,165.3,53.9,Swimming,28,Low,2.9,...,7,7925,1.8,19.6,69.5,110.7,72.9,NaN,Never,0.07
2,1,2024-01-05,56,F,165.3,54.2,Swimming,21,Medium,2.6,...,7,7557,2.7,19.6,69.5,110.7,72.9,NaN,Never,0.09
3,1,2024-01-07,56,F,165.3,54.4,Weight Training,99,Medium,10.7,...,8,11120,2.6,19.6,69.5,110.7,72.9,NaN,Never,0.21
4,1,2024-01-09,56,F,165.3,54.7,Swimming,100,Medium,12.7,...,1,5406,1.5,19.6,69.5,110.7,72.9,NaN,Never,0.33

### Describing the dataset

We use basic functions like `info()` and `describe()` to get the basic measures of tendency and dispersion along with class-wise information of the dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687701 entries, 0 to 687700
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   participant_id            687701 non-null  int64
 1   date                      687701 non-null  object
 2   age                       687701 non-null  int64
 3   gender                    687701 non-null  object
 4   height_cm                 687701 non-null  float64
 5   weight_kg                 687701 non-null  float64
 6   activity_type             687701 non-null  object
 7   duration_minutes          687701 non-null  int64
 8   intensity                 687701 non-null  object
 9   calories_burned           687701 non-null  float64
 10  avg_heart_rate            687701 non-null  int64
 11  hours_sleep               687701 non-null  float64
 12  stress_level              687701 non-null  int64
 13  daily_steps               687701 non-null  int64
 14  hydration_level           687701 non-null  float64
 15  bmi                       687701 non-null  float64
 16  resting_heart_rate        687701 non-null  float64
 17  blood_pressure_systolic   687701 non-null  float64
 18  blood_pressure_diastolic  687701 non-null  float64
 19  health_condition          197426 non-null  object
 20  smoking_status            687701 non-null  object
 21  fitness_level             687701 non-null  float64
dtypes: float64(10), int64(6), object(6)
memory usage: 115.4+ MB

In [8]:
df.describe()

,participant_id,age,height_cm,weight_kg,duration_minutes,calories_burned,avg_heart_rate,hours_sleep,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,fitness_level
count,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000
mean,1499.781828,41.658602,168.587699,94.921981,70.011671,15.381302,131.454165,7.048799,5.252389,8628.370918,2.499427,22.733134,70.010547,120.001260,80.188079,9.524900
std,865.997215,13.581770,9.140811,22.461801,29.147251,9.985552,17.814744,0.972068,2.770029,2054.756608,0.579050,3.568383,5.074563,10.008917,8.239418,5.502485
min,1.000000,18.000000,145.000000,45.300000,20.000000,0.800000,82.000000,4.000000,1.000000,-419.000000,1.500000,14.200000,51.100000,78.000000,53.700000,0.020000
25%,749.000000,30.000000,161.700000,78.200000,45.000000,7.800000,118.000000,6.400000,3.000000,7203.000000,2.000000,20.100000,66.500000,113.100000,74.600000,4.770000
50%,1499.000000,42.000000,168.200000,94.600000,70.000000,13.000000,130.000000,7.000000,5.000000,8607.000000,2.500000,22.400000,70.000000,120.200000,80.100000,9.510000
75%,2249.000000,53.000000,175.300000,110.500000,95.000000,20.700000,144.000000,7.700000,8.000000,10027.000000,3.000000,25.100000,73.500000,127.000000,85.700000,14.230000
max,3000.000000,64.000000,198.500000,188.400000,120.000000,92.000000,206.000000,10.000000,10.000000,17241.000000,3.500000,38.800000,87.100000,152.700000,112.100000,21.930000

In [34]:
print("count:",df['participant_id'].count())
print("mean:",df['participant_id'].mean())
print("std:",df['participant_id'].std())
print("min:",df['participant_id'].min())

count: 687701
mean: 1499.781828149152
std: 865.99721479455
min: 1

In [10]:
df.nunique()

participant_id               3000
date                          360
age                            47
gender                          3
height_cm                     431
weight_kg                    1379
activity_type                  10
duration_minutes              101
intensity                       3
calories_burned               779
avg_heart_rate                125
hours_sleep                    61
stress_level                   10
daily_steps                 12984
hydration_level                21
bmi                           189
resting_heart_rate            271
blood_pressure_systolic       476
blood_pressure_diastolic      416
health_condition                3
smoking_status                  3
fitness_level                2166
dtype: int64

### Checking for missing values
If we do get a missing value, we can use methods like SMOTE to interpolate it. <br>
Or we can just delete that record if it's inconsequential

In [11]:
df.isnull()

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687696,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
687697,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
687698,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
687699,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
687700,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

## Q5. Data Formatting and Data Normalization

### Checking Datatypes of all values

In [12]:
df.dtypes

participant_id                int64
date                         object
age                           int64
gender                       object
height_cm                   float64
weight_kg                   float64
activity_type                object
duration_minutes              int64
intensity                    object
calories_burned             float64
avg_heart_rate                int64
hours_sleep                 float64
stress_level                  int64
daily_steps                   int64
hydration_level             float64
bmi                         float64
resting_heart_rate          float64
blood_pressure_systolic     float64
blood_pressure_diastolic    float64
health_condition             object
smoking_status               object
fitness_level               float64
dtype: object

In [13]:
df.shape

(687701, 22)

In [14]:
df.values

array([[1, '2024-01-01', 56, ..., nan, 'Never', 0.04],
       [1, '2024-01-04', 56, ..., nan, 'Never', 0.07],
       [1, '2024-01-05', 56, ..., nan, 'Never', 0.09],
       ...,
       [3000, '2024-12-21', 38, ..., nan, 'Never', 17.26],
       [3000, '2024-12-22', 38, ..., nan, 'Never', 17.39],
       [3000, '2024-12-23', 38, ..., nan, 'Never', 17.43]], dtype=object)

In [15]:
df.value_counts()

participant_id  date        age  gender  height_cm  weight_kg  activity_type  duration_minutes  intensity  calories_burned  avg_heart_rate  hours_sleep  stress_level  daily_steps  hydration_level  bmi   resting_heart_rate  blood_pressure_systolic  blood_pressure_diastolic  health_condition  smoking_status  fitness_level
2998            2024-12-24  24   M       170.1      125.9      HIIT           61                Medium     30.7             151             7.5          3             8935         1.7              23.8  68.1                108.4                    96.0                      Hypertension      Never           17.91            1
6               2024-01-01  61   M       178.6      50.3       Swimming       71                Medium     8.3              119             7.5          10            6144         3.3              15.7  68.7                123.0                    78.0                      Diabetes          Never           0.09             1
2998            2024-11-28  24   M       170.1      121.8      Walking        76                Medium     11.7             145             5.9          10            7011         2.2              23.8  68.1                108.4                    96.0                      Hypertension      Never           16.84            1
                2024-11-25  24   M       170.1      121.6      HIIT           111               Medium     53.9             151             6.8          4             7563         2.9              23.8  68.1                108.4                    96.0                      Hypertension      Never           16.74            1
                2024-11-23  24   M       170.1      121.3      HIIT           93                Medium     45.0             147             6.6          4             7680         3.4              23.8  68.1                108.4                    96.0                      Hypertension      Never           16.61            1
                                                                                                                                                                                                                                                                                                                                    ..
6               2024-01-14  61   M       178.6      51.8       Dancing        71                High       7.8              137             8.5          9             5575         3.0              15.7  68.7                123.0                    78.0                      Diabetes          Never           0.61             1
                2024-01-13  61   M       178.6      51.6       Dancing        85                Low        6.7              103             7.2          6             10440        2.6              15.7  68.7                123.0                    78.0                      Diabetes          Never           0.51             1
                2024-01-12  61   M       178.6      51.3       Cycling        80                Medium     11.6             127             5.4          8             10808        2.6              15.7  68.7                123.0                    78.0                      Diabetes          Never           0.43             1
                2024-01-10  61   M       178.6      51.0       Dancing        23                Low        1.8              101             6.1          5             9453         1.6              15.7  68.7                123.0                    78.0                      Diabetes          Never           0.33             1
                2024-01-07  61   M       178.6      50.8       Cycling        100               High       16.7             129             7.1          8             10285        2.1              15.7  68.7                123.0                    78.0                      Diabetes          Never           0.31             1
Name: count, Length: 197426, dtype: int64

## Displaying Records

In [16]:
df['participant_id'].unique

<bound method Series.unique of 0            1
1            1
2            1
3            1
4            1
          ...
687696    3000
687697    3000
687698    3000
687699    3000
687700    3000
Name: participant_id, Length: 687701, dtype: int64>

In [17]:
df.head()

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
0,1,2024-01-01,56,F,165.3,53.7,Dancing,41,Low,3.3,...,3,7128,1.5,19.6,69.5,110.7,72.9,NaN,Never,0.04
1,1,2024-01-04,56,F,165.3,53.9,Swimming,28,Low,2.9,...,7,7925,1.8,19.6,69.5,110.7,72.9,NaN,Never,0.07
2,1,2024-01-05,56,F,165.3,54.2,Swimming,21,Medium,2.6,...,7,7557,2.7,19.6,69.5,110.7,72.9,NaN,Never,0.09
3,1,2024-01-07,56,F,165.3,54.4,Weight Training,99,Medium,10.7,...,8,11120,2.6,19.6,69.5,110.7,72.9,NaN,Never,0.21
4,1,2024-01-09,56,F,165.3,54.7,Swimming,100,Medium,12.7,...,1,5406,1.5,19.6,69.5,110.7,72.9,NaN,Never,0.33

In [18]:
df.tail()

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
687696,3000,2024-12-19,38,F,165.7,112.9,Basketball,44,Medium,13.2,...,6,6911,1.9,20.7,66.5,127.0,75.5,NaN,Never,17.13
687697,3000,2024-12-20,38,F,165.7,113.1,Basketball,25,Low,6.3,...,6,8932,2.6,20.7,66.5,127.0,75.5,NaN,Never,17.16
687698,3000,2024-12-21,38,F,165.7,113.4,Yoga,97,Low,9.1,...,8,8864,1.8,20.7,66.5,127.0,75.5,NaN,Never,17.26
687699,3000,2024-12-22,38,F,165.7,113.6,Basketball,108,Medium,32.6,...,4,7455,2.1,20.7,66.5,127.0,75.5,NaN,Never,17.39
687700,3000,2024-12-23,38,F,165.7,113.9,Yoga,29,High,3.8,...,2,9737,2.0,20.7,66.5,127.0,75.5,NaN,Never,17.43

Hi lol.
- Here we are using sample to view a random sample from the dataset.
- This allows us to view random samples and better estimate / discover dataset characteristics

In [19]:
df.sample(5)

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
233423,1018,2024-01-21,46,F,153.5,62.2,Swimming,50,Medium,7.2,...,3,11490,1.5,24.9,70.6,115.6,86.4,NaN,Current,0.92
395619,1725,2024-10-19,30,M,176.8,121.1,Yoga,46,Medium,5.6,...,7,9479,3.1,22.9,62.9,107.8,83.4,NaN,Never,15.82
509967,2224,2024-05-10,39,M,184.4,88.3,Yoga,30,Low,2.2,...,1,9466,3.4,19.1,71.4,112.7,75.4,NaN,Former,7.57
662482,2890,2024-08-07,56,M,180.0,115.9,Walking,108,Medium,15.8,...,4,6346,2.6,23.3,68.2,111.9,72.4,NaN,Never,13.42
147697,644,2024-04-18,38,F,160.0,67.2,Running,108,Medium,23.6,...,4,11470,3.4,17.6,71.7,118.9,91.2,NaN,Never,7.92

In [20]:
df.activity_type.unique()

array(['Dancing', 'Swimming', 'Weight Training', 'HIIT', 'Running',
       'Walking', 'Tennis', 'Basketball', 'Yoga', 'Cycling'], dtype=object)

In [21]:
df['smoking_status'].unique()

array(['Never', 'Current', 'Former'], dtype=object)

## Q6. Turn categorical variables into quantitative variables in Python

### Categorical Values
- intensity
- smoking_status
- activity_type (we can code these into 10 clear categories ranging from 0-9)
- gender

In [22]:
df['gender'] = df['gender'].replace({'M':1, "F":0})

In [23]:
df.sample(5)

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
118863,518,2024-07-28,21,1,177.5,104.3,Dancing,33,High,7.3,...,6,8980,2.6,21.1,63.1,132.7,74.5,NaN,Former,12.39
28000,123,2024-04-10,34,1,170.7,87.7,HIIT,98,Medium,34.3,...,1,9539,2.0,24.0,63.5,132.7,68.0,NaN,Never,5.31
572271,2496,2024-06-20,46,1,172.5,116.7,Walking,70,Medium,10.3,...,8,7717,1.7,28.6,72.2,127.5,75.3,NaN,Former,10.26
455111,1986,2024-01-13,47,0,168.0,62.8,Weight Training,70,High,10.2,...,6,9523,2.6,21.4,74.6,132.1,76.9,NaN,Former,0.85
277074,1208,2024-03-18,42,1,182.0,111.2,Cycling,108,Medium,34.0,...,4,11252,2.2,28.5,81.4,145.7,77.2,NaN,Former,5.60

In [24]:
df['intensity'] = df['intensity'].replace({'Low':0,'Medium':1,'High':2})

/tmp/ipykernel_10536/2158396527.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['intensity'] = df['intensity'].replace({'Low':0,'Medium':1,'High':2})

In [25]:
df.sample(5)

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
279825,1220,2024-03-11,36,0,161.8,56.7,Basketball,62,2,10.9,...,10,9641,3.1,17.2,68.3,119.3,87.3,Asthma,Never,3.99
20327,90,2024-01-13,53,1,177.3,79.4,Cycling,91,0,17.0,...,4,7592,2.8,24.5,68.8,108.3,68.5,NaN,Current,0.72
459672,2005,2024-11-20,21,0,164.3,126.6,HIIT,101,1,51.0,...,6,6817,3.0,25.8,68.3,120.5,78.7,NaN,Former,18.61
364102,1588,2024-02-28,39,0,174.0,69.1,Walking,101,1,8.8,...,7,10116,2.0,19.3,68.5,140.0,71.4,NaN,Current,3.27
469258,2047,2024-04-10,61,1,170.5,108.0,Yoga,39,1,4.2,...,6,10431,3.4,30.6,65.2,129.9,75.7,Asthma,Current,6.06

In [26]:
df['smoking_status'] = df['smoking_status'].replace({'Never':0, 'Former':1, 'Current':2})

/tmp/ipykernel_10536/480574995.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['smoking_status'] = df['smoking_status'].replace({'Never':0, 'Former':1, 'Current':2})

In [27]:
df.sample(5)

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
164197,715,2024-10-14,40,1,181.8,137.7,Cycling,22,2,10.0,...,4,6263,2.7,27.3,65.5,120.1,84.3,NaN,1,14.22
531359,2317,2024-11-30,33,1,183.8,134.7,Cycling,93,1,35.4,...,6,6922,2.0,23.5,75.9,115.3,67.0,Hypertension,0,17.44
432837,1889,2024-05-12,48,1,179.5,113.0,Swimming,20,0,4.4,...,4,11629,3.4,27.4,67.7,121.8,75.5,NaN,1,7.99
613370,2676,2024-04-29,64,0,159.2,86.3,Cycling,64,1,15.6,...,2,10254,2.6,25.1,67.7,113.1,84.7,NaN,2,7.50
17480,77,2024-05-09,21,0,170.5,79.2,Cycling,64,1,14.3,...,6,11796,2.8,19.3,58.5,137.0,78.0,Hypertension,0,7.94

In [28]:
df['activity_type'] = df['activity_type'].replace({'Dancing':0, 'Swimming':1, 'Weight Training':2, 'HIIT':3, 'Running':4,
       'Walking':5, 'Tennis':6, 'Basketball':7, 'Yoga':8, 'Cycling':9})

/tmp/ipykernel_10536/1872980998.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['activity_type'] = df['activity_type'].replace({'Dancing':0, 'Swimming':1, 'Weight Training':2, 'HIIT':3, 'Running':4,

In [29]:
df.sample(5)

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
278732,1215,2024-05-04,43,1,176.9,90.3,8,25,1,2.3,...,1,9798,2.5,20.9,70.6,125.7,73.8,NaN,0,7.80
397650,1734,2024-07-14,60,0,162.0,91.1,3,72,2,30.5,...,8,7162,3.1,20.8,70.2,115.4,75.7,Asthma,1,12.04
669982,2923,2024-04-05,59,1,186.5,108.2,9,26,1,8.0,...,1,9261,3.1,26.0,74.3,112.3,81.7,Hypertension,2,5.73
397121,1732,2024-03-30,31,1,177.3,90.8,4,74,2,25.5,...,3,12207,3.3,23.1,71.6,122.3,71.2,NaN,2,5.51
292037,1273,2024-09-20,34,1,164.3,105.8,7,76,2,25.0,...,3,6171,1.6,22.9,74.1,118.6,108.0,NaN,0,13.94

### Additional stuff

In [30]:
df.groupby(by='participant_id').count()

,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,avg_heart_rate,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
participant_id,,,,,,,,,,,,,,,,,,,,,
1,233,233,233,233,233,233,233,233,233,233,...,233,233,233,233,233,233,233,0,233,233
2,242,242,242,242,242,242,242,242,242,242,...,242,242,242,242,242,242,242,0,242,242
3,227,227,227,227,227,227,227,227,227,227,...,227,227,227,227,227,227,227,0,227,227
4,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,0,235,235
5,227,227,227,227,227,227,227,227,227,227,...,227,227,227,227,227,227,227,0,227,227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,232,232,232,232,232,232,232,232,232,232,...,232,232,232,232,232,232,232,0,232,232
2997,231,231,231,231,231,231,231,231,231,231,...,231,231,231,231,231,231,231,0,231,231
2998,222,222,222,222,222,222,222,222,222,222,...,222,222,222,222,222,222,222,222,222,222
2999,237,237,237,237,237,237,237,237,237,237,...,237,237,237,237,237,237,237,0,237,237
3000,221,221,221,221,221,221,221,221,221,221,...,221,221,221,221,221,221,221,0,221,221